<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>922463718866-s64qd00p55kfo5rvv7sjt7edska0mbc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922463718866-s64qd00p55kfo5rvv7sjt7edska0mbc1</string>
	<key>API_KEY</key>
	<string>AIzaSyAWaVxifUftpIW841-zbu4npO2D8O2UZQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>922463718866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tests.ts.Showcase</string>
	<key>PROJECT_ID</key>
	<string>showcase-ff9d9</string>
	<key>STORAGE_BUCKET</key>
	<string>showcase-ff9d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:922463718866:ios:01c1bbb75b543b1d</string>
	<key>DATABASE_URL</key>
	<string>https://showcase-ff9d9.firebaseio.com</string>
</dict>
</plist>